workflows-n8n/NN_02_Message_Parser.json
{
  "name": "NN_02_Message_Parser",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        200
      ],
      "id": "mp-manual-01"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nn-02-booking-parser-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -200,
        400
      ],
      "webhookId": "nn-02-booking-parser-test",
      "id": "mp-webhook-01"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        600
      ],
      "id": "mp-trigger-01"
    },
    {
      "parameters": {
        "jsCode": "/* NN_02_Message_Parser v2.0.0\n * Parses Telegram messages and extracts chat_id, text, username\n * Handles multiple input paths: Execute Workflow, direct webhook, raw fields\n * \n * IMPROVEMENTS v2.0.0:\n * - Added regex whitelist validation (§4.3 GEMINI.md)\n * - Enhanced input validation with explicit type checking\n * - Better error messages for debugging\n */\n\nconst input = $input.first()?.json;\n\n// Handle multiple input paths\nconst bodyLayer = input?.body || input || {};\nconst message = bodyLayer.message || bodyLayer.channel_post || bodyLayer;\n\n// === EXTRACT VALUES ===\nconst chat_id = message.chat?.id || bodyLayer.chat_id || input?.chat_id;\nconst text = message.text || bodyLayer.text || input?.text;\nconst username = message.from?.first_name || message.chat?.first_name || bodyLayer.username || 'Unknown';\n\n// === VALIDATION FUNCTIONS (§4.3 GEMINI.md) ===\n\n// Chat ID validation: must be positive integer (Telegram chat IDs are 64-bit integers)\nconst CHAT_ID_RE = /^\\d+$/;\nfunction validateChatId(id) {\n  if (id === undefined || id === null) {\n    return { valid: false, error: 'chat_id is required' };\n  }\n  \n  const idStr = String(id).trim();\n  if (!CHAT_ID_RE.test(idStr)) {\n    return { valid: false, error: 'chat_id must be a positive integer' };\n  }\n  \n  const idNum = Number(idStr);\n  if (idNum < 0 || idNum > 9007199254740991) { // Max safe integer\n    return { valid: false, error: 'chat_id out of valid range' };\n  }\n  \n  return { valid: true, value: idNum };\n}\n\n// Text validation: 1-500 chars, printable characters only\nconst TEXT_RE = /^[\\x20-\\x7E\\u00C0-\\u017F\\u0400-\\u04FF\\u0600-\\u06FF\\u4E00-\\u9FFF\\u3040-\\u309F\\u30A0-\\u30FF\\n\\r\\t]{1,500}$/;\nfunction validateText(txt) {\n  if (txt === undefined || txt === null) {\n    return { valid: false, error: 'text is required' };\n  }\n  \n  const txtStr = String(txt).trim();\n  if (txtStr.length === 0) {\n    return { valid: false, error: 'text cannot be empty' };\n  }\n  \n  if (!TEXT_RE.test(txtStr)) {\n    return { valid: false, error: 'text contains invalid characters' };\n  }\n  \n  return { valid: true, value: txtStr };\n}\n\n// Username validation: alphanumeric + underscore, 1-100 chars\nconst USERNAME_RE = /^[\\w\\s]{1,100}$/;\nfunction validateUsername(name) {\n  const nameStr = String(name || '').trim();\n  if (nameStr.length === 0) {\n    return { valid: true, value: 'Unknown' }; // Default is OK\n  }\n  \n  if (!USERNAME_RE.test(nameStr)) {\n    return { valid: true, value: 'User' }; // Fallback to safe default\n  }\n  \n  return { valid: true, value: nameStr.substring(0, 100) };\n}\n\n// === PERFORM VALIDATION ===\nconst chatIdResult = validateChatId(chat_id);\nconst textResult = validateText(text);\nconst usernameResult = validateUsername(username);\n\n// Return validation errors\nif (!chatIdResult.valid || !textResult.valid) {\n  const errors = [];\n  if (!chatIdResult.valid) errors.push(chatIdResult.error);\n  if (!textResult.valid) errors.push(textResult.error);\n  \n  return [{\n    json: {\n      success: false,\n      error_code: 'VALIDATION_ERROR',\n      error_message: errors.join('; '),\n      data: null,\n      _meta: { \n        source: 'NN_02_Message_Parser', \n        timestamp: new Date().toISOString(), \n        workflow_id: $workflow.id \n      }\n    }\n  }];\n}\n\n// === SANITIZE FOR SQL (§4.4 GEMINI.md) ===\nconst safeText = textResult.value\n  .replace(/\\\\/g, '\\\\\\\\')\n  .replace(/'/g, \"''\")\n  .substring(0, 500);\n\nconst safeUsername = usernameResult.value\n  .replace(/\\\\/g, '\\\\\\\\')\n  .replace(/'/g, \"''\")\n  .substring(0, 100);\n\n// === RETURN SUCCESS ===\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      chat_id: chatIdResult.value,\n      text: safeText,\n      username: safeUsername,\n      type: 'text'\n    },\n    _meta: { \n      source: 'NN_02_Message_Parser', \n      timestamp: new Date().toISOString(), \n      workflow_id: $workflow.id,\n      version: '2.0.0'\n    }\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "name": "Extract & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        400
      ],
      "id": "mp-extract-01",
      "notes": "v2.0.0: Added regex whitelist validation per §4.3 GEMINI.md. Validates chat_id (positive int), text (printable chars 1-500), username (alphanumeric 1-100)."
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        450,
        400
      ],
      "id": "mp-respond-01"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Extract & Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract & Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Extract & Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Validate": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "active": true
}