workflows-n8n/NN_03-B_Pipeline_Agent.json
{
  "updatedAt": "2026-03-09T18:41:53.957Z",
  "createdAt": "2026-03-06T18:51:21.450Z",
  "id": "X3D2dWkBu8QLlNSm",
  "name": "NN_03-B_Pipeline_Agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d135b039-b6f3-43d7-b284-132525e909fb"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"chat_id\": 12345,\n  \"text\": \"Hola, quiero un turno\"\n}",
        "options": {}
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -200
      ],
      "id": "1bbf6930-b6a1-4d86-9945-9f7f8278915b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nn-03-b-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        200
      ],
      "webhookId": "nn-03-b-pipeline",
      "notes": "📥 IN: { chat_id: number, text: string (2-500 chars) }",
      "id": "c9a89d90-fa64-4b7d-ae1e-2f0cde133656"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first()?.json || {};\nconst body = raw.body || {};\nconst data = raw.chat_id ? raw : (body.chat_id ? body : raw);\n\nconst chat_id = Number(data.chat_id ?? 0);\nconst user_profile = data.user_profile || { registered: false, full_name: null, email: null };\n\nreturn [{\n  json: {\n    chat_id: chat_id,\n    sessionId: String(chat_id),\n    text: String(data.text ?? '').trim(),\n    user_profile: user_profile,\n    intent: 'general_chat',\n    _meta: {\n      source: 'NN_03-B_Pipeline_Agent',\n      timestamp: new Date().toISOString(),\n      version: '2.5.0'\n    }\n  }\n}];"
      },
      "name": "Input_Clean",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        0
      ],
      "id": "fb6f01f1-8da6-4159-b78f-8caa87f053ca"
    },
    {
      "parameters": {
        "jsCode": "const chatIdStr = String($json.chat_id ?? '');\nconst chat_id_valid = chatIdStr.length > 0 && [...chatIdStr].every(c => c >= '0' && c <= '9');\nconst text = String($('Input_Clean').first().json.text ?? '').trim();\nconst text_valid = text.length > 2 && text.length < 500;\n\nreturn [{\n  json: {\n    ...$json,\n    isValid: chat_id_valid && text_valid\n  }\n}];"
      },
      "name": "Payload Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        550,
        0
      ],
      "id": "6fa6d0dc-5be8-43f5-94dc-2f0313e89533"
    },
    {
      "parameters": {
        "jsCode": "// Route By Validation - Gate+Skip pattern (§5.1 GEMINI.md)\n// Reemplaza IF node v2.3 'Is Valid Payload?' para evitar bug\nconst input = $input.first().json;\nconst isValid = input.isValid === true;\n\nreturn [{ json: {\n  ...input,\n  _route: isValid ? 'execute' : 'validation_error'\n}}];",
        "mode": "runOnceForAllItems"
      },
      "name": "Route By Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "65fd4ffa-fb44-4ce2-96e7-80a601e97419"
    },
    {
      "parameters": {
        "jsCode": "// Gate Execute Valid - solo pasa items válidos\nconst input = $input.first().json;\nif (input._route !== 'execute') return [];\nreturn [{ json: input }];",
        "mode": "runOnceForAllItems"
      },
      "name": "Gate Execute Valid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        -50
      ],
      "id": "gate-execute-valid-nn03b"
    },
    {
      "parameters": {
        "jsCode": "// Gate Skip Invalid - solo pasa errores\nconst input = $input.first().json;\nif (input._route === 'execute') return [];\nreturn [{ json: input }];",
        "mode": "runOnceForAllItems"
      },
      "name": "Gate Skip Invalid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        150
      ],
      "id": "gate-skip-invalid-nn03b"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: false,\n    error_code: 'VALIDATION_ERROR',\n    error_message: 'Datos de entrada inválidos: chat_id debe ser numérico y text entre 3-499 chars',\n    data: null,\n    _meta: {\n      source: 'NN_03-B_Pipeline_Agent',\n      timestamp: new Date().toISOString(),\n      version: '2.2.0'\n    }\n  }\n}];"
      },
      "name": "Err: Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        200
      ],
      "id": "b6704d9b-57c4-4c98-a720-acac37248913"
    },
    {
      "parameters": {
        "jsCode": "const textLower = String($('Input_Clean').first().json.text || '').toLowerCase();\n\nconst PROFANITY_WORDS = ['conchetumare','ctm','culiao','qliao','pichula','tula','zorra','maraco','maricón','maricon','puta','mierda','fuck','shit','asshole','bitch','bastard','motherfucker','dick','cunt','pussy','prick','estúpido','estupido','idiota','imbécil','imbecil','gilipollas','huevon','weon'];\n\nconst INJECTION_PHRASES = [\n  'ignore all previous instructions', 'disregard all rules', 'system prompt',\n  'jailbreak', 'dan mode', 'olvida todas las instrucciones'\n];\n\nconst OFFTOPIC_PHRASES = [\n  'escribe un poema', 'write a poem', 'cuéntame un cuento', 'cuentame un cuento',\n  'tell me a story', 'genera código', 'genera codigo', 'create code',\n  'hackear', 'hacking', 'política', 'politica'\n];\n\nlet isBlocked = false;\n\nlet tClean = '';\nfor(let i=0;i<textLower.length;i++) {\n   const c = textLower[i];\n   if (c==='.'||c===','||c==='!'||c==='?'||c==='('||c===')') tClean += ' '; else tClean += c;\n}\nconst words = tClean.split(' ');\nfor(const w of words) { if (PROFANITY_WORDS.includes(w)) { isBlocked = true; break; } }\nif (!isBlocked) {\n  for (const phrase of INJECTION_PHRASES) {\n    if (textLower.includes(phrase)) { isBlocked = true; break; }\n  }\n}\nif (!isBlocked) {\n  for (const phrase of OFFTOPIC_PHRASES) {\n    if (textLower.includes(phrase)) { isBlocked = true; break; }\n  }\n}\n\nreturn [{ json: { ...$json, isBlocked } }];"
      },
      "name": "Rule Firewall",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        -200
      ],
      "id": "d141fbde-4d6b-4f25-b444-d2a25d20ad7e"
    },
    {
      "parameters": {
        "jsCode": "// Route - Gate+Skip pattern\nconst input = $input.first().json;\nconst isTrue = input.success === true || input.isBlocked === false;\nreturn [{ json: { ...input, _route: isTrue ? 'execute' : 'skip' } }];",
        "mode": "runOnceForAllItems"
      },
      "name": "Route_is_safe_by_rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        -200
      ],
      "id": "6130180c-c89e-4ef3-ba21-aa8e6cfcd260"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: false,\n    error_code: 'SECURITY_BLOCKED',\n    error_message: 'Mensaje bloqueado por reglas de seguridad',\n    data: null,\n    _meta: {\n      source: 'NN_03-B_Pipeline_Agent',\n      timestamp: new Date().toISOString(),\n      version: '2.2.0'\n    }\n  }\n}];"
      },
      "name": "Err: Security",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1550,
        0
      ],
      "id": "21c5436f-a670-4252-8cdc-4b61bd16c5dd"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### TAREA\\nClasifica el mensaje en una de estas categorías:\\n\\n- create_booking: quiere agendar turno (ej: 'quiero un turno').\\n- cancel_booking: quiere cancelar un turno (ej: 'borra mi cita').\\n- check_availability: ver horarios o si hay lugar.\\n- find_next: buscar el primer turno libre.\\n- get_my_bookings: el usuario quiere ver, consultar o listar sus turnos/reservas actuales.\\n- reschedule_booking: el usuario quiere CAMBIAR, REPROGRAMAR o MOVER un turno existente.\\n- get_services: info sobre PRECIOS, especialidades, médicos, seguros, pagos, ubicación, resultados.\\n- general_chat: saludos, gracias, charla informal.\\n\\n### EJEMPLOS\\n\\\"¿Cuánto cuesta?\\\" -> get_services\\n\\\"¿Tienen cardiología?\\\" -> get_services\\n\\\"Hola\\\" -> general_chat\\n\\\"Aceptan OSDE?\\\" -> get_services\\n\\\"Quiero cancelar\\\" -> cancel_booking\\n\\\"Cambia mi turno\\\" -> reschedule_booking\\n\\\"¿Cuáles son mis turnos?\\\" -> get_my_bookings\\n\\n### MENSAJE\\n{{ $('Input_Clean').first().json.text }}\\n\\nResponde SOLO la categoría."
      },
      "name": "Intent Classifier LLM",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1550,
        -400
      ],
      "retryOnFail": true,
      "id": "ba1c29b6-2264-4190-bae2-a6b60be2da4c",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0
        }
      },
      "name": "Groq Model (70B Classifier)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1550,
        -200
      ],
      "credentials": {
        "groqApi": {
          "id": "2LYxRbHB7xVo0wNe",
          "name": "Groq account"
        }
      },
      "id": "72471289-9760-45e5-88f0-ed9e80c6ee39"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### TAREA\\nExtrae el nombre completo y el email del usuario para actualizar su perfil o registrarse. Responde SOLO JSON puro.\\n\\n### MENSAJE DEL USUARIO\\n{{ $('Input_Clean').first().json.text }}\\n\\n### FORMATO DE RESPUESTA ESPERADO\\n{\\n  \\\"full_name\\\": \\\"Nombre Apellido\\\",\\n  \\\"email\\\": \\\"usuario@ejemplo.com\\\"\\n}"
      },
      "name": "Extract Params: update_profile",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2400,
        800
      ],
      "id": "update-prof-ext",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const content = $json.text || '';\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nlet params = {};\n\ntry {\n  params = JSON.parse(jsonMatch ? jsonMatch[0] : '{}');\n} catch(e) { params = {}; }\n\nconst cleanInput = $('Input_Clean').first().json;\n\nreturn [{ json: { \n  chat_id: cleanInput.chat_id,\n  full_name: params.full_name || cleanInput.user_profile?.full_name || 'Paciente',\n  email: params.email || cleanInput.user_profile?.email || ''\n} }];"
      },
      "name": "Parse: update_profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2650,
        800
      ],
      "id": "update-prof-parse"
    },
    {
      "parameters": {
        "workflowId": "Jf8nKzhEsCI3uNdM",
        "mode": "each",
        "onError": "continueErrorOutput",
        "alwaysOutputData": true,
        "options": {}
      },
      "name": "Execute: update_profile",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2900,
        800
      ],
      "id": "update-prof-exec"
    },
    {
      "parameters": {
        "jsCode": "// Handle Execute Workflow Error - update_profile\nconst error = $input.first().json;\nconst upstreamIntent = $('Intent Normalizer').first()?.json || {};\n\nlet errorCode = 'WORKFLOW_EXECUTION_ERROR';\nlet errorMessage = error.message || error.error?.message || 'Sub-workflow execution failed';\n\nif (error.message?.includes('timeout')) {\n  errorCode = 'WORKFLOW_TIMEOUT';\n  errorMessage = 'Sub-workflow execution timeout';\n} else if (error.message?.includes('not found') || error.message?.includes('404')) {\n  errorCode = 'WORKFLOW_NOT_FOUND';\n  errorMessage = 'Sub-workflow not found';\n}\n\nreturn [{ json: {\n  ...upstreamIntent,\n  success: false,\n  error_code: errorCode,\n  error_message: errorMessage,\n  data: null,\n  _meta: { source: 'NN_03-B_Pipeline_Agent', timestamp: new Date().toISOString(), version: '3.0.0' }\n}}];",
        "mode": "runOnceForAllItems"
      },
      "name": "Handle Error: update_profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        950
      ],
      "id": "handle-error-update-profile"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"Eres la recepcionista. Has actualizado los datos del usuario.\\n\\nDATOS ACTUALIZADOS:\\n\" + JSON.stringify($json) + \"\\n\\nINSTRUCCIÓN: Responde en ESPAÑOL confirmando que su perfil ha sido actualizado. Sé amable.\""
      },
      "name": "Gen: update_profile",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3150,
        800
      ],
      "id": "update-prof-gen",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const llmOutput = String($input.first()?.json.text || '').toLowerCase().trim();\nconst allowed = ['create_booking', 'reschedule_booking', 'cancel_booking', 'check_availability', 'find_next', 'get_my_bookings', 'update_profile', 'manage_reminders', 'join_waitlist', 'get_services', 'general_chat'];\n\nlet intent = 'general_chat';\nfor (const word of allowed) {\n  if (llmOutput.includes(word)) {\n    intent = word;\n    break;\n  }\n}\n\n// ✅ Recuperar chat_id del nodo Input_Clean para no perder el contexto\nconst cleanInput = $('Input_Clean').first().json;\n\nreturn [{\n  json: {\n    ...cleanInput,\n    intent,\n    raw_llm: llmOutput\n  }\n}];"
      },
      "name": "Intent Normalizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -400
      ],
      "id": "05f34a51-f995-4499-a304-41cdfeb5feb4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "sw-01",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "create_booking",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create_booking"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "sw-02",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "cancel_booking",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancel_booking"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "sw-03",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "check_availability",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "check_availability"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "sw-04",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "find_next",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "find_next"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "sw-get-my",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "get_my_bookings",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_my_bookings"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "sw-reschedule",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "reschedule_booking",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reschedule_booking"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "sw-update-prof",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "update_profile",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update_profile"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "sw-reminders",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "manage_reminders",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "manage_reminders"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "sw-waitlist",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "join_waitlist",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "join_waitlist"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "sw-05",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "get_services",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_services"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "sw-06",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "general_chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "general_chat"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "name": "Intent Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2050,
        -400
      ],
      "id": "b3fbbf34-81fd-41b4-9a8f-ee21d06b7fc5"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.5
        }
      },
      "name": "Groq Model (70B)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        3200,
        600
      ],
      "credentials": {
        "groqApi": {
          "id": "2LYxRbHB7xVo0wNe",
          "name": "Groq account"
        }
      },
      "id": "dd1bfe18-081e-4c03-a751-2d3c5a0b7171"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### TAREA\\nExtrae parámetros para agendar médico. Responde SOLO JSON puro.\\n\\n### MENSAJE DEL USUARIO\\n{{ $('Input_Clean').first().json.text }}\\n\\n### FORMATO DE RESPUESTA ESPERADO\\n{\\n  \\\"start_time\\\": \\\"YYYY-MM-DDTHH:MM:SS\\\",\\n  \\\"provider_id\\\": 1,\\n  \\\"service_id\\\": 1,\\n  \\\"user_name\\\": \\\"Nombre\\\",\\n  \\\"user_email\\\": \\\"email@ejemplo.com\\\"\\n}"
      },
      "name": "Extract Params: create_booking",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2400,
        -1000
      ],
      "retryOnFail": true,
      "id": "4b2dc260-de79-4fc4-ae87-a8646e6659f4",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const content = $json.text || '';\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nlet params = {};\n\nif (!jsonMatch) {\n  return [{ json: { success: false, data: null, _meta: { source: 'NN_03-B_Pipeline_Agent', timestamp: new Date().toISOString() }, error_code: 'PARSE_ERROR', error_message: 'No se detectó JSON en la respuesta del modelo.' };\n}\n\ntry {\n  params = JSON.parse(jsonMatch[0]);\n} catch(e) {\n  return [{ json: { success: false, data: null, _meta: { source: 'NN_03-B_Pipeline_Agent', timestamp: new Date().toISOString() }, error_code: 'JSON_INVALID', error_message: 'El JSON extraído es inválido.' };\n}\n\nparams.chat_id = $('Input_Clean').first().json.chat_id || 0;\n\n// SEC04/05 Robust validation\nconst pId = Number(params.provider_id);\nparams.provider_id = (Number.isInteger(pId) && pId > 0) ? pId : 1;\nconst sId = Number(params.service_id);\nparams.service_id = (Number.isInteger(sId) && sId > 0) ? sId : 1;\n\nconst tStr = String(params.start_time || '');\nconst tObj = new Date(tStr);\nparams.start_time = (params.start_time && !isNaN(tObj.getTime()) && tStr.includes('-'))\n  ? params.start_time\n  : new Date().toISOString();\n\nconst sanitize = (v) => String(v || '').replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\").substring(0, 500);\nparams.user_name = sanitize(params.user_name || 'Usuario');\n\nconst eml = String(params.user_email || ''); const emlParts = eml.split('@'); const isEml = emlParts.length === 2 && emlParts[1].includes('.') && !eml.includes(' ');\nparams.user_email = isEml\n  ? String(params.user_email).substring(0, 254)\n  : 'sin-email@booking.com';\n\nreturn [{ json: params }];"
      },
      "name": "Parse: create_booking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2650,
        -1000
      ],
      "onError": "continueErrorOutput",
      "id": "06ad1737-93b8-457d-b040-00f12c826b8f"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "h1Y5IOZw6M2SFrct",
          "mode": "id"
        },
        "mode": "each",
        "onError": "continueErrorOutput",
        "alwaysOutputData": true,
        "options": {}
      },
      "name": "Execute: create_booking",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2900,
        -1000
      ],
      "id": "5f5af5a1-bc2b-49bc-bdc3-daa9c67d4ca1"
    },
    {
      "parameters": {
        "jsCode": "// Handle Execute Workflow Error - create_booking\nconst error = $input.first().json;\nconst upstreamIntent = $('Intent Normalizer').first()?.json || {};\n\nlet errorCode = 'WORKFLOW_EXECUTION_ERROR';\nlet errorMessage = error.message || error.error?.message || 'Sub-workflow execution failed';\n\nif (error.message?.includes('timeout')) {\n  errorCode = 'WORKFLOW_TIMEOUT';\n  errorMessage = 'Sub-workflow execution timeout';\n} else if (error.message?.includes('not found') || error.message?.includes('404')) {\n  errorCode = 'WORKFLOW_NOT_FOUND';\n  errorMessage = 'Sub-workflow not found';\n}\n\nreturn [{ json: {\n  ...upstreamIntent,\n  success: false,\n  error_code: errorCode,\n  error_message: errorMessage,\n  data: null,\n  _meta: { source: 'NN_03-B_Pipeline_Agent', timestamp: new Date().toISOString(), version: '3.0.0' }\n}}];",
        "mode": "runOnceForAllItems"
      },
      "name": "Handle Error: create_booking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        -850
      ],
      "id": "handle-error-create-booking"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"Eres la recepcionista de Booking Titanium. El usuario agendó un turno exitosamente.\\n\\nUSUARIO ACTUAL: \" + JSON.stringify($('Input_Clean').first().json.user_profile) + \"\\n\\nRESULTADO DE RESERVA:\\n\" + JSON.stringify($json) + \"\\n\\nMENSAJE DEL USUARIO:\\n\" + $node[\\\"Input_Clean\\\"].json[\\\"text\\\"] + \"\\n\\nINSTRUCCIÓN: Responde en ESPAÑOL confirmando los datos. Saluda al usuario por su nombre si está registrado. Menciona SIEMPRE el 'Código de Reserva' (booking_code) que aparece en el resultado y dile al usuario que lo guarde. Sé profesional y amable.\""
      },
      "name": "Gen: create_booking",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3150,
        -1000
      ],
      "retryOnFail": true,
      "id": "d8b3b553-b297-4a52-ac2a-170fa532f15e",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### TAREA\\nExtrae el ID de reserva (puede ser un UUID o un código corto tipo BKG-XXXX) para cancelar. Responde SOLO JSON puro.\\n\\n### MENSAJE DEL USUARIO\\n{{ $('Input_Clean').first().json.text }}\\n\\n### FORMATO DE RESPUESTA ESPERADO\\n{\\n  \\\"booking_id\\\": \\\"ID-AQUÍ\\\"\\n}"
      },
      "name": "Extract Params: cancel_booking",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2400,
        -600
      ],
      "retryOnFail": true,
      "id": "a7fd3b30-3b6a-4048-a72f-6e33d89eb4f7",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const content = $json.text || '';\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nlet params = {};\n\nif (!jsonMatch) {\n  return [{ json: { success: false, data: null, _meta: { source: 'NN_03-B_Pipeline_Agent', timestamp: new Date().toISOString() }, error_code: 'PARSE_ERROR', error_message: 'No se detectó JSON en la respuesta del modelo.' };\n}\n\ntry {\n  params = JSON.parse(jsonMatch[0]);\n} catch(e) {\n  return [{ json: { success: false, data: null, _meta: { source: 'NN_03-B_Pipeline_Agent', timestamp: new Date().toISOString() }, error_code: 'JSON_INVALID', error_message: 'El JSON extraído es inválido.' };\n}\n\nparams.chat_id = $('Input_Clean').first().json.chat_id || 0;\n\nconst bookingId = String(params.booking_id || '').trim();\nconst isUUID = bookingId.length === 36 && bookingId.split('-').length === 5;\nconst shortParts = bookingId.toUpperCase().split('BKG-'); const isShort = bookingId.toUpperCase().startsWith('BKG-') && shortParts[1] && shortParts[1].length >= 6 && shortParts[1].length <= 10;\nif (!isUUID && !isShort) {\n  // HARD FALLBACK: buscar código corto en el texto original si el LLM no lo puso en el JSON\n  const userText = $('Input_Clean').first().json.text;\n  let extractedShort = null;\n  const tUpper = userText.toUpperCase();\n  const bkgIdx = tUpper.indexOf('BKG-');\n  if (bkgIdx !== -1) {\n    let code = '';\n    for(let i=bkgIdx+4; i<tUpper.length; i++) {\n       const c = tUpper.charCodeAt(i);\n       if ((c>=48 && c<=57) || (c>=65 && c<=90)) { code += tUpper[i]; } else break;\n    }\n    if (code.length >= 6 && code.length <= 10) extractedShort = 'BKG-' + code;\n  }\n  if (extractedShort) {\n    params.booking_id = extractedShort;\n  } else {\n    return [{ json: {\n      success: false,\n      error_code: 'INVALID_BOOKING_ID',\n      error_message: 'No se encontró un código de reserva válido (ej: BKG-123456).'\n    };\n  }\n} else {\n  params.booking_id = bookingId.toUpperCase();\n}\n\nreturn [{ json: params }];"
      },
      "name": "Parse: cancel_booking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2650,
        -600
      ],
      "onError": "continueErrorOutput",
      "id": "279a7dda-ca21-4a5b-a1c2-2935229aae3a"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KQBVkwIZEbjYQFly",
          "mode": "id"
        },
        "mode": "each",
        "options": {}
      },
      "name": "Execute: cancel_booking",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2900,
        -600
      ],
      "onError": "continueErrorOutput",
      "id": "4843a1eb-1e50-4d2e-958a-8cacef532ab4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"Eres la recepcionista. El usuario canceló su turno.\\n\\nRESULTADO DE CANCELACIÓN:\\n\" + JSON.stringify($json) + \"\\n\\nMENSAJE DEL USUARIO:\\n\" + $node[\\\"Input_Clean\\\"].json[\\\"text\\\"] + \"\\n\\nINSTRUCCIÓN: Responde en ESPAÑOL confirmando la cancelación. Menciona el código de reserva que fue cancelado (booking_code) para dar seguridad al usuario.\""
      },
      "name": "Gen: cancel_booking",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3150,
        -600
      ],
      "retryOnFail": true,
      "id": "9e09b9ba-dc73-480a-adba-5d2eee903681",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### TAREA\\nExtrae parámetros de disponibilidad. Responde SOLO JSON puro.\\n\\n### MENSAJE DEL USUARIO\\n{{ $('Input_Clean').first().json.text }}\\n\\n### FORMATO DE RESPUESTA ESPERADO\\n{\\n  \\\"provider_id\\\": 1,\\n  \\\"service_id\\\": 1,\\n  \\\"date\\\": \\\"YYYY-MM-DD\\\"\\n}"
      },
      "name": "Extract Params: check_availability",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2400,
        -200
      ],
      "retryOnFail": true,
      "id": "4ad2d892-2cb0-4d87-9e86-d36bd60553d2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const content = $json.text || '';\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nlet params = {};\n\nif (!jsonMatch) {\n  return [{ json: { success: false, data: null, _meta: { source: 'NN_03-B_Pipeline_Agent', timestamp: new Date().toISOString() }, error_code: 'PARSE_ERROR', error_message: 'No se detectó JSON en la respuesta del modelo.' };\n}\n\ntry {\n  params = JSON.parse(jsonMatch[0]);\n} catch(e) {\n  return [{ json: { success: false, data: null, _meta: { source: 'NN_03-B_Pipeline_Agent', timestamp: new Date().toISOString() }, error_code: 'JSON_INVALID', error_message: 'El JSON extraído es inválido.' };\n}\n\nparams.chat_id = $('Input_Clean').first().json.chat_id || 0;\n\nconst pId = Number(params.provider_id);\nparams.provider_id = (Number.isInteger(pId) && pId > 0) ? pId : 1;\nconst sId = Number(params.service_id);\nparams.service_id = (Number.isInteger(sId) && sId > 0) ? sId : 1;\n\nconst dStr = String(params.date||''); const docObj = new Date(dStr);\nparams.date = (params.date && !isNaN(docObj.getTime()) && dStr.includes('-'))\n  ? params.date\n  : new Date().toISOString().split('T')[0];\n\nreturn [{ json: params }];"
      },
      "name": "Parse: check_availability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2650,
        -200
      ],
      "onError": "continueErrorOutput",
      "id": "cd2864b4-a77d-4d78-8013-e7f621c3c7ed"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SAYpOpiRXUCsrPJU",
          "mode": "id"
        },
        "mode": "each",
        "options": {}
      },
      "name": "Execute: check_availability",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2900,
        -200
      ],
      "onError": "continueErrorOutput",
      "id": "6da79b21-acc0-42b6-8f6d-a3d4db6954da"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres la recepcionista. Consultaron disponibilidad.\\n\\nRESULTADO DE DISPONIBILIDAD:\\n{{ JSON.stringify($json) }}\\n\\nMENSAJE DEL USUARIO:\\n{{ $('Input_Clean').first().json.text }}\\n\\nINSTRUCCIÓN: Responde en ESPAÑOL (2 oraciones) indicando si hay turnos. Si NO hay turnos, ofrece amablemente al usuario anotarse en la LISTA DE ESPERA."
      },
      "name": "Gen: check_availability",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3150,
        -200
      ],
      "retryOnFail": true,
      "id": "f2007614-731b-4fbd-b0e9-3770db7c42ef",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### TAREA\\nExtrae parámetros para próximo turno libre. Responde SOLO JSON puro.\\n\\n### MENSAJE DEL USUARIO\\n{{ $('Input_Clean').first().json.text }}\\n\\n### FORMATO DE RESPUESTA ESPERADO\\n{\\n  \\\"provider_id\\\": 1,\\n  \\\"service_id\\\": 1,\\n  \\\"date\\\": \\\"YYYY-MM-DD\\\"\\n}"
      },
      "name": "Extract Params: find_next",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2400,
        200
      ],
      "retryOnFail": true,
      "id": "d0475296-63e6-497d-ba96-70a0c9e90882",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const content = $json.text || '';\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nlet params = {};\n\nif (!jsonMatch) {\n  return [{ json: { success: false, data: null, _meta: { source: 'NN_03-B_Pipeline_Agent', timestamp: new Date().toISOString() }, error_code: 'PARSE_ERROR', error_message: 'No se detectó JSON en la respuesta del modelo.' };\n}\n\ntry {\n  params = JSON.parse(jsonMatch[0]);\n} catch(e) {\n  return [{ json: { success: false, data: null, _meta: { source: 'NN_03-B_Pipeline_Agent', timestamp: new Date().toISOString() }, error_code: 'JSON_INVALID', error_message: 'El JSON extraído es inválido.' };\n}\n\nparams.chat_id = $('Input_Clean').first().json.chat_id || 0;\n\nconst pId = Number(params.provider_id);\nparams.provider_id = (Number.isInteger(pId) && pId > 0) ? pId : 1;\nconst sId = Number(params.service_id);\nparams.service_id = (Number.isInteger(sId) && sId > 0) ? sId : 1;\n\nconst dStr = String(params.date||''); const docObj = new Date(dStr);\nparams.date = (params.date && !isNaN(docObj.getTime()) && dStr.includes('-'))\n  ? params.date\n  : new Date().toISOString().split('T')[0];\n\nreturn [{ json: params }];"
      },
      "name": "Parse: find_next",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2650,
        200
      ],
      "onError": "continueErrorOutput",
      "id": "d09744db-3f28-4ce3-8c7f-ef74ca2a19c0"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PTdg3GUnUo96BPMW",
          "mode": "id"
        },
        "mode": "each",
        "options": {}
      },
      "name": "Execute: find_next",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2900,
        200
      ],
      "onError": "continueErrorOutput",
      "id": "08f7d96e-8a94-42fe-ab2b-a0ec1203346c"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres la recepcionista. Buscaron el próximo turno disponible.\\n\\nRESULTADO:\\n{{ JSON.stringify($json) }}\\n\\nMENSAJE DEL USUARIO:\\n{{ $('Input_Clean').first().json.text }}\\n\\nINSTRUCCIÓN: Responde en ESPAÑOL (2 oraciones) ofreciendo el turno encontrado. Si NO se encontró ningún turno próximo, ofrece amablemente al usuario anotarse en la LISTA DE ESPERA."
      },
      "name": "Gen: find_next",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3150,
        200
      ],
      "retryOnFail": true,
      "id": "281f1016-e68b-4d99-baab-d8b38dea1c0f",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"Identify medical specialty. EXAMPLES: 'how much for cardio?' -> {\\\"query\\\": \\\"cardiologia\\\"}. USER: \" + $('Input_Clean').first().json.text"
      },
      "name": "Service_Topic_Extractor",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2400,
        600
      ],
      "retryOnFail": true,
      "id": "d76c6231-3d16-46bc-9746-800387638634",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const content = $json.text || '';\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nlet params = {};\n\ntry {\n  params = JSON.parse(jsonMatch ? jsonMatch[0] : '{}');\n} catch(e) { params = {}; }\n\nconst userText = $('Input_Clean').first().json.text;\nconst userTextLower = userText.toLowerCase();\nlet q = params.query || \"\"; // Confiar en el LLM primero\n\n// #5 ✅ CORRECTO --- LLM tiene prioridad, keywords son fallback\nif (!q) {\n  const kws = [\n    { test: [\"cardio\",\"corazón\",\"arritmia\"], val: \"cardiologia\" },\n    { test: [\"pediat\",\"niño\",\"niña\",\"infantil\"], val: \"pediatria\" },\n    { test: [\"derma\",\"piel\",\"acné\"], val: \"dermatologia\" },\n    { test: [\"odont\",\"diente\",\"dental\",\"muela\"], val: \"odontologia\" },\n    { test: [\"segu\",\"osde\",\"prepaga\",\"cobertura\"], val: \"seguros\" },\n  ];\n\n  for (const { test, val } of kws) {\n    if (test.some(k => userTextLower.includes(k))) { \n      q = val; \n      break; \n    }\n  }\n}\n\n// Último recurso: texto completo del usuario\nif (!q || q.length < 2 || q.includes('normaliz') || q === 'unknown') {\n  q = userText;\n}\n\nreturn [{ json: {\n  query: q.toLowerCase().trim(),\n  service_name: q.toLowerCase().trim(),\n  provider_id: 1,\n  limit: 5,\n  similarity_threshold: 0.30 // #4 ✅ 30% --- balance recall/precision\n} }];"
      },
      "name": "Parse: get_services",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2650,
        600
      ],
      "onError": "continueErrorOutput",
      "id": "8273d20d-3786-41aa-a3f9-8a4103ab07fb"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8c20T0192TaPTW8C",
          "mode": "id"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "Execute: Resolve Service ID",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2800,
        600
      ],
      "onError": "continueErrorOutput",
      "id": "e1538c5c-0b87-4b5a-bd14-c63bb860cac0"
    },
    {
      "parameters": {
        "jsCode": "// Analyze Resolve — Decidir estrategia RAG (SEC02)\nconst resolve = $input.first()?.json.data || {};\nconst userText = $('Input_Clean').first().json.text;\nconst parseData = $('Parse: get_services').first()?.json || {};\n\n// Si el match es débil o no encontrado, buscar en RAG sin filtro de service_id\nconst useFilter = resolve.resolved && resolve.match_type !== 'WEAK';\n\nreturn [{\n  json: {\n    query: resolve.resolved ? resolve.service_name : (parseData.query || userText),\n    provider_id: resolve.provider_id || 1,\n    service_id: useFilter ? resolve.service_id : null,\n    limit: 5,\n    similarity_threshold: 0.05,\n    sql_context: {\n      resolved: resolve.resolved,\n      match_type: resolve.match_type,\n      service_name: resolve.service_name,\n      price: resolve.price,\n      currency: resolve.currency || 'USD',\n      candidates: resolve.candidates || []\n    }\n  }\n}];"
      },
      "name": "Analyze Resolve",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        600
      ],
      "id": "ff54b4d6-4368-47ba-bc11-af502443da8d"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KiLCLMwsedjlP2Ku",
          "mode": "id"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "Execute: RAG_02",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3200,
        600
      ],
      "onError": "continueErrorOutput",
      "id": "3cafd3c7-7767-4a42-b039-6e7e511063a9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "name": "Gen: get_services",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3650,
        600
      ],
      "retryOnFail": true,
      "id": "ffdcbd14-e1ae-4284-86bf-1610b85c4797",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### TAREA\\nExtrae el médico (ID) y la fecha de interés para la lista de espera. Responde SOLO JSON puro.\\n\\n### MENSAJE DEL USUARIO\\n{{ $('Input_Clean').first().json.text }}\\n\\n### FORMATO DE RESPUESTA ESPERADO\\n{\\n  \\\"provider_id\\\": 1,\\n  \\\"service_id\\\": 1,\\n  \\\"preferred_date\\\": \\\"YYYY-MM-DD\\\"\\n}"
      },
      "name": "Extract Params: join_waitlist",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2400,
        1400
      ],
      "id": "waitlist-ext",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const content = $json.text || '';\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nlet params = {};\n\ntry {\n  params = JSON.parse(jsonMatch ? jsonMatch[0] : '{}');\n} catch(e) { params = {}; }\n\nconst cleanInput = $('Input_Clean').first().json;\n\nreturn [{ json: { \n  chat_id: cleanInput.chat_id,\n  provider_id: params.provider_id || 1,\n  service_id: params.service_id || 1,\n  preferred_date: params.preferred_date || new Date().toISOString().split('T')[0]\n} }];"
      },
      "name": "Parse: join_waitlist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2650,
        1400
      ],
      "id": "waitlist-parse"
    },
    {
      "parameters": {
        "workflowId": "CCBlkkLBmRldVWMr",
        "mode": "each",
        "options": {}
      },
      "name": "Execute: join_waitlist",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2900,
        1400
      ],
      "id": "waitlist-exec"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"Eres la recepcionista. Has anotado al usuario en la lista de espera.\\n\\nDATOS:\\n\" + JSON.stringify($json) + \"\\n\\nINSTRUCCIÓN: Responde en ESPAÑOL confirmando que ha sido anotado en la lista de espera y que le avisaremos si se libera un cupo.\""
      },
      "name": "Gen: join_waitlist",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3150,
        1400
      ],
      "id": "waitlist-gen",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"Eres la recepcionista amable de la clínica. \\n\\nUSUARIO ACTUAL: \" + JSON.stringify($('Input_Clean').first().json.user_profile) + \"\\n\\nMENSAJE DEL USUARIO:\\n\" + $('Input_Clean').first().json.text + \"\\n\\nResponde amablemente (2 oraciones). Saluda al usuario por su nombre si ya lo conoces. Si pregunta algo que no sabes, invita a consultar por turnos o especialidades.\""
      },
      "name": "Fallback Gen",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2400,
        1000
      ],
      "retryOnFail": true,
      "id": "dc726cef-913f-4fc7-9ca0-46f88bf58464",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nconst successItem = items.find(i => i.success === true);\n\nif (successItem) return [{ json: successItem }];\n\nconst errorItem = items.find(i => i.error_code);\nif (errorItem) return [{ json: errorItem }];\n\nreturn [{ json: {\n  success: false,\n  error_code: 'PIPELINE_ERROR',\n  error_message: 'No valid response generated from any branch',\n  data: null,\n  _meta: { source: 'NN_03-B_Pipeline_Agent', timestamp: new Date().toISOString() }\n} }];"
      },
      "name": "Merge All Branches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        0
      ],
      "onError": "continueErrorOutput",
      "id": "aa1e572b-7a17-4d65-b1c3-e7d0ac019506"
    },
    {
      "parameters": {
        "jsCode": "// Route - Gate+Skip pattern\nconst input = $input.first().json;\nconst isTrue = input.success === true || input.isBlocked === false;\nreturn [{ json: { ...input, _route: isTrue ? 'execute' : 'skip' } }];",
        "mode": "runOnceForAllItems"
      },
      "name": "Route_is_success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3650,
        0
      ],
      "id": "15de4938-3b0b-4dfc-9662-c0c8f41ba788"
    },
    {
      "parameters": {
        "jsCode": "// ✅ CORRECTO --- leer error del json del item entrante\nconst input = $input.first()?.json || {};\n\n// Los errores llegan como campos en el json, no en $input.params\nconst errorCode = input.error_code || input.code || \"EXECUTION_ERROR\";\nconst errorMessage = input.error_message || input.message || input.error || \"Error desconocido\";\n\nreturn [{\n  json: {\n    success: false,\n    error_code: errorCode,\n    error_message: errorMessage,\n    data: null,\n    _meta: {\n      source: \"NN_03-B_Pipeline_Agent\",\n      timestamp: new Date().toISOString(),\n      version: \"2.2.0\"\n    }\n  }\n}];"
      },
      "name": "Central Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3800,
        400
      ],
      "id": "50cb25fd-cf57-40a8-b65e-5f346f98e278"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nlet aiResp = input.text || input.output || input.ai_response || '';\nif (typeof aiResp === 'string') aiResp = aiResp.replace(/^[\\\"']|[\\\"']$/g, '').trim();\nif (!aiResp) aiResp = 'Lo siento, no pude procesar tu solicitud.';\n\nlet chatId = 0;\ntry { \n  if ($('Input_Clean').isExecuted) {\n    chatId = $('Input_Clean').first().json.chat_id || 0; \n  }\n} catch(e) {}\n\nlet debugTopic = null;\ntry {\n  if ($('Parse: get_services').isExecuted) {\n    debugTopic = $('Parse: get_services').first()?.json?.query ?? null;\n  }\n} catch(e) { /* nodo no ejecutado en esta rama */ }\n\nlet intent = \"general_chat\";\ntry {\n  if ($('Intent Normalizer').isExecuted) {\n    intent = $('Intent Normalizer').first()?.json?.intent ?? \"general_chat\";\n  }\n} catch(e) {}\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      intent,\n      chat_id: chatId,\n      ai_response: aiResp\n    },\n    _meta: {\n      source: 'NN_03-B_Pipeline_Agent',\n      timestamp: new Date().toISOString(),\n      debug_topic: debugTopic,\n      version: '2.2.0'\n    }\n  }\n}];"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3800,
        -200
      ],
      "id": "67950761-95e7-4a9f-917e-8eb953209855"
    },
    {
      "parameters": {
        "jsCode": "// 📤 STANDARD CONTRACT OUTPUT (O02)\nreturn [{ json: $input.first()?.json || {} }];"
      },
      "name": "📤 Standard Contract Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4100,
        0
      ],
      "notes": "📤 OUT: Standard Contract",
      "id": "78d28c59-6721-45a4-af05-07042631009a"
    },
    {
      "parameters": {
        "jsCode": "// Build Prompt: get_services\nconst sql = $('Analyze Resolve').first().json.sql_context || {};\nconst ragDocs = $json.data?.documents || [];\nconst userText = $('Input_Clean').first().json.text;\n\nlet prompt = `Eres la recepcionista amable de Booking Titanium. Responde la duda del usuario.\\n\\n`;\n\nif (sql.resolved) {\n  prompt += `### INFORMACIÓN OFICIAL DEL SERVICIO\\n`;\n  prompt += `- Nombre: ${sql.service_name}\\n`;\n  prompt += `- Precio: ${sql.price || 'Consultar'} ${sql.currency || 'USD'}\\n\\n`;\n}\n\nif (ragDocs.length > 0) {\n  prompt += `### DOCUMENTACIÓN ADICIONAL\\n`;\n  prompt += JSON.stringify(ragDocs) + `\\n\\n`;\n}\n\nprompt += `### MENSAJE DEL USUARIO\\n${userText}\\n\\n`;\nprompt += `INSTRUCCIÓN: Responde de forma breve (máximo 3 oraciones), profesional y amable en ESPAÑOL.`;\n\nreturn [{ json: { prompt } }];"
      },
      "name": "Build Prompt: get_services",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3450,
        600
      ],
      "id": "build-prompt-get-svc"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"### TAREA\\nIdentifica el ID de reserva (UUID o código BKG-XXXX) y la NUEVA fecha/hora solicitada.\\n\\n### MENSAJE DEL USUARIO\\n\" + $node[\\\"Input_Clean\\\"].json[\\\"text\\\"] + \"\\n\\nResponde SOLO un JSON con 'booking_id' y 'new_start_time'.\""
      },
      "name": "Extract Params: reschedule_booking",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2400,
        400
      ],
      "retryOnFail": true,
      "id": "resched-ext-01",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const content = $json.text || '';\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nlet params = {};\n\ntry {\n  params = JSON.parse(jsonMatch ? jsonMatch[0] : '{}');\n} catch(e) { params = {}; }\n\nconst userText = $('Input_Clean').first().json.text;\nconst userTextLower = userText.toLowerCase();\nlet bookingId = params.booking_id || \"\";\n\n// HARD FALLBACK for UUID or Short Code\nif (!bookingId || bookingId.includes('AQUÍ') || bookingId === 'UUID') {\n  let extractedShort = null;\n  const tUpper = userText.toUpperCase();\n  const bkgIdx = tUpper.indexOf('BKG-');\n  if (bkgIdx !== -1) {\n    let code = '';\n    for(let i=bkgIdx+4; i<tUpper.length; i++) {\n       const c = tUpper.charCodeAt(i);\n       if ((c>=48 && c<=57) || (c>=65 && c<=90)) { code += tUpper[i]; } else break;\n    }\n    if (code.length >= 6 && code.length <= 10) extractedShort = 'BKG-' + code;\n  }\n  let extractedUuid = null;\n  if (!extractedShort && userText.includes('-')) {\n     const wArr = userText.split(' ');\n     for(const w of wArr) {\n        let cleanW = '';\n        for(let i=0;i<w.length;i++) {\n           const c = w.charCodeAt(i);\n           if ((c>=48&&c<=57)||(c>=65&&c<=90)||(c>=97&&c<=122)||c===45) cleanW += w[i];\n        }\n        if (cleanW.length === 36 && cleanW.split('-').length === 5) { extractedUuid = cleanW; break; }\n     }\n  }\n  \n  if (extractedUuid) bookingId = extractedUuid;\n  else if (extractedShort) bookingId = extractedShort;\n}\n\nif (!bookingId) {\n  return [{ json: { success: false, error_code: 'INVALID_BOOKING_ID', error_message: 'No se encontró un ID de reserva válido.' } }];\n}\n\nreturn [{ json: { \n  success: true,\n  booking_id: bookingId.toUpperCase(),\n  old_booking_id: bookingId.toUpperCase(),\n  new_start_time: params.new_start_time || new Date().toISOString(),\n  provider_id: params.provider_id || 1,\n  service_id: params.service_id || 1,\n  chat_id: $('Input_Clean').first().json.chat_id || 0,\n  user_name: $('Input_Clean').first().json.user_name || 'Paciente',\n  user_email: $('Input_Clean').first().json.user_email || ''\n} }];"
      },
      "name": "Parse: reschedule_booking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2650,
        400
      ],
      "id": "resched-parse-01"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bmYCDmiMblVbQpf5",
          "mode": "id"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "Execute: reschedule_booking",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3100,
        400
      ],
      "id": "resched-exec-01",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"Eres la recepcionista. El usuario reprogramó su turno.\\n\\nRESULTADO DE REPROGRAMACIÓN:\\n\" + JSON.stringify($json) + \"\\n\\nMENSAJE DEL USUARIO:\\n\" + $node[\\\"Input_Clean\\\"].json[\\\"text\\\"] + \"\\n\\nINSTRUCCIÓN: Responde en ESPAÑOL confirmando el cambio. Menciona el código anterior (old_booking_code) y el NUEVO código de reserva (new_booking_code). Pide al usuario que guarde el nuevo código.\""
      },
      "name": "Gen: reschedule_booking",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3350,
        400
      ],
      "retryOnFail": true,
      "id": "resched-gen-01",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Route - Gate+Skip pattern\nconst input = $input.first().json;\nconst isTrue = input.success === true || input.isBlocked === false;\nreturn [{ json: { ...input, _route: isTrue ? 'execute' : 'skip' } }];",
        "mode": "runOnceForAllItems"
      },
      "name": "Route_resched_success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2850,
        400
      ],
      "id": "resched-if-01"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vDHnCGH2tURN6m2v",
          "mode": "id"
        },
        "mode": "each",
        "inputData": "={\n  \"chat_id\": {{ $('Input_Clean').first().json.chat_id }}\n}",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "Execute: get_my_bookings",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2400,
        -200
      ],
      "id": "get-my-exec-01",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"Eres la recepcionista. El usuario consultó sus turnos.\\n\\nLISTA DE TURNOS:\\n\" + JSON.stringify($json) + \"\\n\\nUSUARIO: \" + $('Input_Clean').first().json.text + \"\\n\\nINSTRUCCIÓN: Responde en ESPAÑOL listando los turnos. Menciona SIEMPRE el 'Código de Reserva' (booking_code) de cada uno y la fecha/hora. Si no hay turnos, informa amablemente.\""
      },
      "name": "Gen: get_my_bookings",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2700,
        -200
      ],
      "retryOnFail": true,
      "id": "get-my-gen-01",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3800,
        0
      ],
      "id": "nn03b_respond_webhook"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nif (input._route !== 'success') return [];\nreturn [{ json: input }];",
        "mode": "runOnceForAllItems"
      },
      "name": "Gate Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        0
      ],
      "id": "gate-success"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nif (input._route === 'success') return [];\nreturn [{ json: input }];",
        "mode": "runOnceForAllItems"
      },
      "name": "Gate Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        200
      ],
      "id": "gate-error"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Input_Clean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Input_Clean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Input_Clean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input_Clean": {
      "main": [
        [
          {
            "node": "Payload Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Validation": {
      "main": [
        [
          {
            "node": "Route By Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route By Validation": {
      "main": [
        [
          {
            "node": "Gate Execute Valid",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gate Skip Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Execute Valid": {
      "main": [
        [
          {
            "node": "Rule Firewall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Skip Invalid": {
      "main": [
        [
          {
            "node": "Err: Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Err: Validation": {
      "main": [
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rule Firewall": {
      "main": [
        [
          {
            "node": "Route_is_safe_by_rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Err: Security": {
      "main": [
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model (70B Classifier)": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier LLM",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Extract Params: create_booking",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Extract Params: cancel_booking",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Extract Params: check_availability",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Extract Params: find_next",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Service_Topic_Extractor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Extract Params: reschedule_booking",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier LLM": {
      "main": [
        [
          {
            "node": "Intent Normalizer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Normalizer": {
      "main": [
        [
          {
            "node": "Intent Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Switch": {
      "main": [
        [
          {
            "node": "Extract Params: create_booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Params: cancel_booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Params: check_availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Params: find_next",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: get_my_bookings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Params: reschedule_booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Service_Topic_Extractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model (70B)": {
      "ai_languageModel": [
        [
          {
            "node": "Gen: create_booking",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Gen: cancel_booking",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Gen: check_availability",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Gen: find_next",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Gen: get_services",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Fallback Gen",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Gen: reschedule_booking",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Gen: get_my_bookings",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Params: create_booking": {
      "main": [
        [
          {
            "node": "Parse: create_booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: create_booking": {
      "main": [
        [
          {
            "node": "Execute: create_booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: create_booking": {
      "main": [
        [
          {
            "node": "Gen: create_booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen: create_booking": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Params: cancel_booking": {
      "main": [
        [
          {
            "node": "Parse: cancel_booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: cancel_booking": {
      "main": [
        [
          {
            "node": "Execute: cancel_booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: cancel_booking": {
      "main": [
        [
          {
            "node": "Gen: cancel_booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen: cancel_booking": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Params: check_availability": {
      "main": [
        [
          {
            "node": "Parse: check_availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: check_availability": {
      "main": [
        [
          {
            "node": "Execute: check_availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: check_availability": {
      "main": [
        [
          {
            "node": "Gen: check_availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen: check_availability": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Params: find_next": {
      "main": [
        [
          {
            "node": "Parse: find_next",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: find_next": {
      "main": [
        [
          {
            "node": "Execute: find_next",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: find_next": {
      "main": [
        [
          {
            "node": "Gen: find_next",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen: find_next": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service_Topic_Extractor": {
      "main": [
        [
          {
            "node": "Parse: get_services",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: get_services": {
      "main": [
        [
          {
            "node": "Execute: Resolve Service ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Resolve Service ID": {
      "main": [
        [
          {
            "node": "Analyze Resolve",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Resolve": {
      "main": [
        [
          {
            "node": "Execute: RAG_02",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: RAG_02": {
      "main": [
        [
          {
            "node": "Build Prompt: get_services",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen: get_services": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Gen": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Branches": {
      "main": [
        [
          {
            "node": "Route_is_success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Central Error Handler": {
      "main": [
        [
          {
            "node": "📤 Standard Contract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "📤 Standard Contract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt: get_services": {
      "main": [
        [
          {
            "node": "Gen: get_services",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Params: reschedule_booking": {
      "main": [
        [
          {
            "node": "Parse: reschedule_booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: reschedule_booking": {
      "main": [
        [
          {
            "node": "Route_resched_success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: reschedule_booking": {
      "main": [
        [
          {
            "node": "Gen: reschedule_booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen: reschedule_booking": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: get_my_bookings": {
      "main": [
        [
          {
            "node": "Gen: get_my_bookings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen: get_my_bookings": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen: update_profile": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen: join_waitlist": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route_is_success": {
      "main": [
        [
          {
            "node": "Gate Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gate Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Success": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Error": {
      "main": [
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Standard Contract Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Params: update_profile": {
      "main": [
        [],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Params: join_waitlist": {
      "main": [
        [],
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "executionTimeout": 120,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e70331c3-7428-4d8b-a379-215d6fd8529c",
  "activeVersionId": "e70331c3-7428-4d8b-a379-215d6fd8529c",
  "versionCounter": 277,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-06T18:51:21.450Z",
      "createdAt": "2026-03-06T18:51:21.450Z",
      "role": "workflow:owner",
      "workflowId": "X3D2dWkBu8QLlNSm",
      "projectId": "YJNRszHcAkWXiI3k",
      "project": {
        "updatedAt": "2026-03-06T19:06:44.480Z",
        "createdAt": "2026-03-06T18:41:40.568Z",
        "id": "YJNRszHcAkWXiI3k",
        "name": "Roger Gallegos <baba.orere@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "5cb60cf9-fc9d-440a-bce1-9e65876cb825"
      }
    }
  ],
  "tags": []
}