workflows-n8n/SEED_01_Daily_Provisioning.json
{
  "name": "SEED_01_Daily_Provisioning",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        100
      ],
      "id": "2ef24783-0bd3-45b0-9606-6e73ccd3c610"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seed-daily-prod-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        200,
        300
      ],
      "webhookId": "bac07b58-a1c1-4494-bfbc-5a5255f7d871",
      "id": "86bf51e8-3c2a-4b71-b1ac-864de6d58099"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "When Called",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        500
      ],
      "id": "3a6ce2f6-620e-44dc-b2b9-8c2d45caf432"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst input = (raw.body && typeof raw.body === 'object') ? raw.body : raw;\nconst headers = raw.headers || {};\n\nfunction ve(code, msg) {\n  return [{ json: {\n    success: false, error_code: code, error_message: msg, data: null,\n    _meta: { source: 'SEED_01_Daily_Provisioning', timestamp: new Date().toISOString(), workflow_id: $workflow.id },\n    _exit_early: true\n  }}];\n}\n\n// P3: Auth check\nif (raw.headers && typeof raw.headers === 'object') {\n  const token = headers['x-seed-token'] || headers['X-Seed-Token'] || '';\n  const expected = $vars?.SEED_AUTH_TOKEN || '';\n  if (expected && token !== expected) return ve('AUTH_FAILED', 'Invalid or missing x-seed-token header');\n}\n\n// === DATE VALIDATION ===\nlet date = input.date || new Date().toISOString().split('T')[0];\ndate = String(date).trim();\nconst dateParts = date.split('-');\nif (dateParts.length !== 3) return ve('INVALID_INPUT', 'date must be YYYY-MM-DD format');\nconst year = Number(dateParts[0]);\nconst month = Number(dateParts[1]);\nconst day = Number(dateParts[2]);\nif (isNaN(year) || isNaN(month) || isNaN(day)) return ve('INVALID_INPUT', 'date components must be numeric');\nif (year < 1900 || year > 2100) return ve('INVALID_INPUT', 'year must be 1900-2100');\nif (month < 1 || month > 12) return ve('INVALID_INPUT', 'month must be 1-12');\nconst dateObj = new Date(year, month - 1, day);\nif (dateObj.getFullYear() !== year || dateObj.getMonth() !== month - 1 || dateObj.getDate() !== day) {\n  return ve('INVALID_INPUT', 'date does not exist: ' + date);\n}\n\n// === PROVIDER_ID VALIDATION ===\nconst provider_id = Number(input.provider_id);\nif (typeof input.provider_id === 'string' && input.provider_id.trim() === '') return ve('INVALID_INPUT', 'provider_id must be a number');\nif (isNaN(provider_id) || !Number.isInteger(provider_id) || provider_id < 1) return ve('INVALID_INPUT', 'provider_id must be a positive integer');\n\n// === SERVICE_ID VALIDATION ===\nconst service_id = Number(input.service_id);\nif (typeof input.service_id === 'string' && input.service_id.trim() === '') return ve('INVALID_INPUT', 'service_id must be a number');\nif (isNaN(service_id) || !Number.isInteger(service_id) || service_id < 1) return ve('INVALID_INPUT', 'service_id must be a positive integer');\n\n// === CHAT_ID VALIDATION ===\nconst chat_id = Number(input.chat_id);\nif (typeof input.chat_id === 'string' && input.chat_id.trim() === '') return ve('INVALID_INPUT', 'chat_id must be a number');\nif (isNaN(chat_id) || !Number.isInteger(chat_id) || chat_id < 0) return ve('INVALID_INPUT', 'chat_id must be a non-negative integer');\n\n// === HOURS VALIDATION ===\nlet hours = [9, 10, 11, 12, 13, 14, 15, 16];\nif (Array.isArray(input.hours)) {\n  if (input.hours.length === 0) return ve('INVALID_INPUT', 'hours array cannot be empty');\n  if (input.hours.length > 24) return ve('INVALID_INPUT', 'hours array cannot have more than 24 entries');\n  for (let i=0; i<input.hours.length; i++) {\n    const hour = Number(input.hours[i]);\n    if (isNaN(hour) || !Number.isInteger(hour)) return ve('INVALID_INPUT', 'hour at index ' + i + ' must be an integer');\n    if (hour < 0 || hour > 23) return ve('INVALID_INPUT', 'hour must be 0-23');\n    hours[i] = hour;\n  }\n}\n\n// === DURATION_MINUTES VALIDATION ===\nconst duration_minutes = Number(input.duration_minutes ?? 60);\nif (typeof input.duration_minutes === 'string' && input.duration_minutes.trim() === '') return ve('INVALID_INPUT', 'duration_minutes must be a number');\nif (isNaN(duration_minutes) || !Number.isInteger(duration_minutes)) return ve('INVALID_INPUT', 'duration_minutes must be an integer');\nif (duration_minutes < 15 || duration_minutes > 480) return ve('INVALID_INPUT', 'duration_minutes must be 15-480');\n\n// === TZ_OFFSET VALIDATION ===\nlet tz_offset = input.tz_offset || '-03:00';\ntz_offset = String(tz_offset).trim();\nif (tz_offset.length !== 6) return ve('INVALID_INPUT', 'tz_offset must be +HH:MM or -HH:MM');\nconst tzSign = tz_offset.charAt(0);\nif (tzSign !== '+' && tzSign !== '-') return ve('INVALID_INPUT', 'tz_offset must start with + or -');\nif (tz_offset.charAt(3) !== ':') return ve('INVALID_INPUT', 'tz_offset must have : at position 4');\nconst tzHourNum = Number(tz_offset.substring(1, 3));\nconst tzMinNum = Number(tz_offset.substring(4, 6));\nif (isNaN(tzHourNum) || isNaN(tzMinNum)) return ve('INVALID_INPUT', 'tz_offset hours and minutes must be numeric');\nif (tzHourNum < 0 || tzHourNum > 14) return ve('INVALID_INPUT', 'tz_offset hours must be 00-14');\nif (tzMinNum < 0 || tzMinNum > 59) return ve('INVALID_INPUT', 'tz_offset minutes must be 00-59');\n\nreturn [{ json: { date, provider_id, service_id, chat_id, hours, duration_minutes, tz_offset, _validated: true } }];"
      },
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "id": "val-input-seed-01",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const v = $input.first().json;\nif (!v._validated) {\n  return [{ json: {\n    success: false, error_code: 'PIPELINE_ERROR', error_message: 'unvalidated input reached Generate Slots', data: null,\n    _meta: { source: 'SEED_01_Daily_Provisioning', timestamp: new Date().toISOString() },\n    _exit_early: true\n  }}];\n}\n\nconst { date, provider_id, service_id, chat_id, hours, duration_minutes, tz_offset } = v;\n\n$execution.customData.set('seed_date', date);\n$execution.customData.set('seed_provider', String(provider_id));\n$execution.customData.set('seed_service', String(service_id));\n$execution.customData.set('seed_slot_count', String(hours.length));\n\nconst dateClean = date.replace(/-/g, '');\n\nreturn hours.map(hour => {\n  const h = String(hour).padStart(2, '0');\n  const hNext = String(hour + 1).padStart(2, '0');\n  const idempotency_key = `SEED-${dateClean}-P${provider_id}-S${service_id}-${h}00`;\n  return {\n    json: {\n      provider_id,\n      service_id,\n      start_time: `${date}T${h}:00:00${tz_offset}`,\n      end_time: `${date}T${hNext}:00:00${tz_offset}`,\n      chat_id,\n      idempotency_key,\n      duration_minutes,\n      source: 'SEED_01',\n      _slot_generated: true\n    }\n  };\n});"
      },
      "name": "Generate Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "id": "44658718-d0c0-4323-90e3-7ce94406b1cd"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RtSgP6fbGvtN2HFc",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "provider_id": "={{ $json.provider_id }}",
            "service_id": "={{ $json.service_id }}",
            "start_time": "={{ $json.start_time }}",
            "end_time": "={{ $json.end_time }}",
            "chat_id": "={{ $json.chat_id }}",
            "idempotency_key": "={{ $json.idempotency_key }}",
            "duration_minutes": "={{ $json.duration_minutes }}",
            "source": "={{ $json.source }}"
          }
        },
        "mode": "each",
        "alwaysOutputData": true,
        "options": {}
      },
      "name": "Process Slot",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        900,
        300
      ],
      "id": "f8e8a4dd-01b0-4f61-984f-35ef2c40dbc9",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// FIX #8: only onError:continueErrorOutput — no continueOnFail\nconst err = $input.first().json;\nreturn [{\n  json: {\n    success: false,\n    error_code: 'PROCESS_SLOT_CRASH',\n    error_message: err.message || err.error?.message || 'SEED_01_Process_Slot crashed',\n    data: { slot: 'unknown', idempotency_key: null, source: 'SEED_01' },\n    _meta: { source: 'SEED_01_Daily_Provisioning', timestamp: new Date().toISOString() }\n  }\n}];"
      },
      "name": "Handle Slot Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        520
      ],
      "id": "134e891c-9010-4c66-9a65-049bdc962bd4"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst upstream = $('Validate Input').first()?.json || {};\n\nif (upstream._exit_early) {\n  return [{ json: upstream }];\n}\n\nlet successful = 0;\nlet duplicates = 0;\nlet errors = 0;\nconst details = [];\n\nfor (const item of items) {\n  const d = item.json;\n  if (!d) continue;\n  \n  if (d.success === true) {\n    if (d.data && d.data.is_duplicate) {\n      duplicates++;\n    } else {\n      successful++;\n    }\n    details.push({ slot: d.slot || d.data?.booking_id || 'unknown', status: 'success', duplicate: d.data?.is_duplicate || false });\n  } else {\n    errors++;\n    details.push({ slot: d.slot || 'unknown', status: 'error', code: d.error_code, msg: d.error_message });\n  }\n}\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      date: upstream.date,\n      slots_requested: upstream.hours?.length || 0,\n      slots_processed: items.length,\n      successful,\n      duplicates,\n      errors,\n      details\n    },\n    _meta: { source: 'SEED_01_Daily_Provisioning', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n  }\n}];"
      },
      "name": "Report Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        300
      ],
      "id": "8ebe37d5-0906-4f75-ba1c-69428f19721f"
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "id": "seed-respond-01"
    },
    {
      "parameters": {
        "jsCode": "// Format Validation Error → Standard Contract\nconst msg = $input.first()?.json?.message || $input.first()?.json?.error?.message || 'Daily Provisioning validation failed';\nreturn [{\n  json: {\n    success: false,\n    error_code: 'VALIDATION_ERROR',\n    error_message: msg,\n    data: null,\n    _meta: { source: 'SEED_01_Daily_Provisioning', timestamp: new Date().toISOString(), workflow_id: $workflow.id, version: '1.2.0' }\n  }\n}];"
      },
      "name": "Format Validation Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        500
      ],
      "id": "fmt-val-err-seed-01"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nif (input._exit_early) return [];\nreturn [{ json: input }];"
      },
      "name": "Gate Execute Val",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "seed01_gate_exec_val"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nif (!input._exit_early) return [];\nreturn [{ json: input }];"
      },
      "name": "Gate Skip Val",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "seed01_gate_skip_val"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Gate Execute Val",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gate Skip Val",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Slots": {
      "main": [
        [
          {
            "node": "Process Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Slot": {
      "main": [
        [
          {
            "node": "Report Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Slot Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Slot Error": {
      "main": [
        [
          {
            "node": "Report Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Execute Val": {
      "main": [
        [
          {
            "node": "Generate Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Skip Val": {
      "main": [
        [
          {
            "node": "Format Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "id": "IVDXuT6a4tT9w1vR"
}